img {
  border-radius: 50%;
  height: 30px;
  margin-top: -20px;
  width: 30px;

}

p {
  font-weight: 400;
  font-size: 20px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  overflow-wrap: break-word;
}

.msg {
  display: flex;
  padding: 20px 10px 0 20px;
  margin: 20px;
  border-radius: 3000px;
  box-shadow: 0 0 10px rgb(164, 164, 164);
  align-items: center;
}

.sent {
  background-color: #ea2b84;
  color: white;
  border-top-right-radius: 1000px;
  flex-direction: row-reverse;
  text-align: end;
  float: right;
  height: 30px;
}

.received {
  border: 1px solid lightgray;
  background-color: #FAFAFA;
  border-top-left-radius: 1000px;
  float: left;
  height: 30px;
}

.sendMsg {
  justify-content: space-between;
  position: fixed;
  display: flex;
  width: 100%;
  bottom: 0;
  border-top: 1px solid lightgray;
  padding: 10px;
  padding-bottom: 20px;
  background-color: #fafafa;
  
}

/* .input-style {
  width: 80%;
  font-size: 20px;
  font-weight: 500px;
  margin-left: 5px;
  margin-bottom: 3px;
}

.button-style {
  width: 20%;
  font-size: 15px;
  font-weight: 550px;
  max-width: 200px;
} */


.msgs {
  margin: 110px 0;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
}

.chatroom {
  font-size: xx-large;
  font-weight: 500;
}